CompileFlags:
  Add:
    - -I/home/solid/projects/flower
    - -I/home/solid/projects/flower/build
    - -I/home/solid/projects/flower/build-qt
    - -I/usr/include/x86_64-linux-gnu/qt6
    - -I/usr/include/x86_64-linux-gnu/qt6/QtCore
    - -I/usr/include/x86_64-linux-gnu/qt6/QtGui
    - -I/usr/include/x86_64-linux-gnu/qt6/QtWidgets
    - -I/usr/include/x86_64-linux-gnu/qt6/QtSql
    - -I/home/solid/oracle/instantclient_23_4/sdk/include
    - -std=c++17
